* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
body {
  font-family: sans-serif;
}
main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 1rem;
}
header {
  position: sticky;
  top: 0;
}
h1 {
  background-image: linear-gradient(
    to left,
    rgb(41, 134, 227),
    rgb(30, 248, 244)
  );
  color: aliceblue;
  line-height: 2.5rem;
  text-align: center;
}
/* header {
  background-color: aqua;
  width: 100%;
} */
nav {
  margin: 0 auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 20px;
  text-align: center;
}
.card {
  margin: 0 auto;
  display: grid;
  width: 100%;
  place-content: center;
  background-image: linear-gradient(
    to bottom,
    rgb(41, 134, 227),
    rgb(30, 248, 244)
  );
  border: 2px solid blue;
  border-radius: 20px;
  text-align: center;
  width: 13rem;
  height: 350px;
  box-shadow: 0 8px 16px 4px rgba(5, 5, 5, 0.112);
}
.card img {
  margin: 0 auto;
  width: 70%;
  height: auto;
  border-radius: 50%;
}
.card h2 {
  margin: 2%;
}
.card p {
  margin-top: 10%;
  color: aliceblue;
}
footer {
  background-image: linear-gradient(
    to left,
    rgb(41, 134, 227),
    rgb(30, 248, 244)
  );
  padding: 20px;
  position: sticky;
  bottom: 0%;
  width: 100%;
  color: aliceblue;
  text-align: center;
}
@media screen and (min-width: 576px) {
  main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;
  }
  nav {
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 20px;
    text-align: center;
    position: absolute;
    left: -1000px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;

    gap: 1rem;
  }
  nav {
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 20px;
    text-align: center;
    position: absolute;
    left: -1000px;
  }
}
